@font-face {
  font-family: FontAwesome;
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format('woff2'), url("//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format('woff'), url("//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format('truetype'), url("//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
nav.layout .pref:before,
nav.layout .about:before,
nav.layout .gh-repo:before,
#pref.layout button.close:first-of-type:before,
#pref.layout li button:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-family: FontAwesome, sans-serif;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding: 0.05em;
  text-indent: 0;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
nav.layout .pref:hover:before {
  -webkit-animation: fh-spin 2s infinite linear;
  -moz-animation: fh-spin 2s infinite linear;
  animation: fh-spin 2s infinite linear;
}
@-moz-keyframes fh-spin {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes fh-spin {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes fh-spin {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fh-spin {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
#pref.layout button.close:first-of-type:before {
  content: '\f00d';
}
nav.layout .pref:before {
  content: '\f013';
}
nav.layout .about:before {
  content: '\f05a';
}
nav.layout .gh-repo:before {
  content: '\f09b';
}
#pref.layout li button:after {
  content: '\f0d7';
}
:root {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  background-color: #f2ede5;
}
#body {
  width: 100%;
  padding-top: 6rem;
}
#body > .layout {
  width: 100%;
  padding: 0 calc((100% - 96rem) / 2);
}
nav.layout {
  position: fixed;
  top: 0;
  height: 4rem;
  line-height: 4rem;
  background-color: #333;
  box-shadow: #ccc 0 2px 3px;
  color: #eee;
}
nav.layout a,
nav.layout button {
  display: inline-block;
  padding: 0 0.5em;
  background: none;
  border: 0;
  color: #eee;
}
nav.layout :hover {
  background-color: rgba(0,26,51,0.8);
  color: #fff;
}
nav.layout .pref:before,
nav.layout .about:before,
nav.layout .gh-repo:before {
  margin-right: 0.1em;
  vertical-align: -0.05em;
  font-size: 1.2em;
  color: #ccc;
}
nav.layout .gh-repo {
  float: right;
}
nav.layout .gh-repo:before {
  font-size: 1.8em;
  vertical-align: -0.1em;
}
main.layout #input {
  display: block;
}
main.layout textarea {
  position: relative;
  margin: 1rem auto;
  height: 6em;
  max-height: 40vh;
  width: 96%;
  padding: 0.25em 0.5em;
  resize: vertical;
  font-size: 20px;
  background-color: #f0f0f0;
  border: 1px solid #d2caaf;
  border-radius: 0.5rem;
  color: #666;
  outline: 0;
}
main.layout textarea:hover,
main.layout textarea:focus {
  background-color: #f5f5f5;
  border-color: #bfb38c;
  color: #333;
}
#utility {
  display: none;
}
main article {
  margin: 3rem auto;
  width: 96%;
  padding: 0;
  font-family: 'Biaodian Pro Serif', Georgia, 'Zhuyin Kaiti', 'Han Songti', serif;
  font-size: 1.5em;
}
main article :link,
main article :visited {
  color: #3681c2;
}
main article a:hover {
  color: #d9534f;
}
main article a:active {
  color: #c32e2a;
}
#out {
  position: relative;
}
#out em .x {
  -webkit-text-emphasis-position: over;
}
#out a-z {
  cursor: pointer;
  display: inline-block;
}
#out a-z:before {
  position: absolute;
  margin-left: 0.35em;
  margin-top: 1.7em;
  z-index: 10;
  content: '';
  display: inline-block;
  background-color: #337ab7;
  border-radius: 0.5em;
  padding: 0.15em;
}
#out a-z:before .x {
  margin-top: 2.3em;
}
#out a-z:before .x {
  margin-left: 0.55em;
}
#out a-z:not(:hover):before {
  opacity: 0.7;
}
#out a-z.picking:before {
  background-color: #d9534f;
  border: 0.1em solid #fff;
  margin-left: 0.25em;
  margin-top: 1.6em;
}
#out a-z.picking:before .x {
  margin-top: 2.2em;
}
#out a-z.picking:before .x {
  margin-left: 0.45em;
}
#out a-z.picked:before {
  background-color: #5bc0de;
}
#out button#play {
  float: left;
  margin: -1em 0.5em 0 0.5em;
  display: none;
  height: 1.8em;
  width: 1.8em;
  overflow: hidden;
  font-family: 'Biaodian Pro Sans', 'Helvetica Neue', Arial, 'Zhuyin Kaiti', 'Han Heiti', sans-serif;
  font-size: 1.5em;
  background-color: #cc8c73;
  border: 0;
  border-radius: 50%;
  color: transparent;
}
#out button#play:before {
  content: '唸';
  color: rgba(255,255,255,0.7);
  font-weight: bold;
  line-height: 1.75;
}
#pickr {
  position: absolute;
  margin: 2.7em 0 0 -1.25em;
  min-width: 4em;
  padding: 0.5em 1em;
  list-style: none;
  background-color: #fff;
  border-bottom: 2px solid rgba(92,184,92,0.7);
  border-radius: 0.5em;
}
#pickr .x {
  margin-top: 3.5em;
}
#pickr .x {
  margin-top: 2em;
}
#pickr {
  display: none;
}
.picking #pickr {
  display: block;
}
#pickr li {
  margin-right: 0.5em;
  display: inline-block;
  width: 1.5em;
  padding: 0.5em 0.75em 0.1em 0.25em;
  font-family: 'Zhuyin Kaiti', 'Biaodian Pro Sans', 'Helvetica Neue', Arial, 'Zhuyin Kaiti', 'Han Heiti', sans-serif;
  font-size: 0.75em;
  text-align: left;
  cursor: pointer;
}
#pickr li:last-child {
  margin-right: 0.125em;
}
#pref.layout {
  position: fixed;
  z-index: 20;
  min-height: 19em;
  height: 50vh;
  background-color: #e7decf;
  box-shadow: inset 0 0.5rem 2rem #ddd0bb, inset 0 1px 0 rgba(238,238,238,0.3);
  color: #333;
}
.init #pref.layout {
  display: none;
}
.not-init #pref.layout {
  -moz-animation: slide-down 0.5s;
  -ms-animation: slide-down 0.5s;
  -webkit-animation: slide-down 0.5s;
  animation: slide-down 0.5s;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.pref #pref.layout {
  -moz-animation: slide-up 0.5s;
  -ms-animation: slide-up 0.5s;
  -webkit-animation: slide-up 0.5s;
  animation: slide-up 0.5s;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#pref.layout button {
  background: none;
  border: 0;
  color: #111;
}
#pref.layout button.close {
  position: relative;
  z-index: 100;
}
#pref.layout button.close:first-of-type {
  position: absolute;
  top: 0.4em;
  right: 0.6em;
  height: 1.5em;
  width: 1.5em;
  overflow: hidden;
  color: transparent;
}
#pref.layout button.close:first-of-type:before {
  color: #eee;
  font-size: 1.2em;
  text-shadow: 0 1px 0 #a85;
}
#pref.layout button.close:first-of-type:hover:before {
  text-shadow: 0 1px 3px #855;
}
#pref.layout button.close:last-of-type {
  margin: -0.8em 1em 0;
  height: 1.65em;
  width: 2.5em;
  overflow: hidden;
  padding: 0.125em 0.5em;
  background-color: #337ab7;
  border: 1px solid #3074ae;
  border-radius: 0.25em;
  color: transparent;
}
#pref.layout button.close:last-of-type:before {
  content: '好';
  color: #eee;
}
#pref.layout button.close:last-of-type:hover {
  background: #2f71aa;
}
#pref.layout button.close:last-of-type:hover:before {
  color: #fff;
}
#pref.layout ul {
  padding: 0.5em 1em;
  list-style: none;
}
#pref.layout li {
  margin: 0.25em 0 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dfd3bf;
}
#pref.layout li:last-child {
  border: 0;
}
#pref.layout label > span {
  display: inline-block;
  min-width: 11em;
  padding-right: 1em;
}
#pref.layout li button {
  margin-top: 0.25em;
  padding: 0.3em 0.5em;
  background-color: rgba(255,255,255,0.5);
  border: 1px solid rgba(153,136,85,0.7);
  border-radius: 0.25em;
}
#pref.layout li button:after {
  padding-left: 0.3em;
  vertical-align: -0.05em;
  font-size: 1.1em;
  color: #63541f;
}
#pref.layout .open button,
#pref.layout li button:hover {
  background-color: rgba(238,238,238,0.3);
  border-color: #985;
}
#pref.layout .open button:after,
#pref.layout li button:hover:after {
  color: #111;
}
#pref.layout .open ul.select {
  display: block;
}
#pref.layout ul.select {
  position: absolute;
  margin: 0.25em 0 0 11em;
  z-index: 10;
  display: none;
  min-width: 5em;
  overflow: hidden;
  padding: 0;
  background-color: #f3f3f3;
  border: 1px solid #d3c2a6;
  border-radius: 0.25em;
}
#pref.layout ul.select li {
  margin: 0;
  padding: 0.35em 1em 0.35em 0.5em;
  border: 0;
  cursor: pointer;
}
#pref.layout ul.select li:hover {
  background-color: #e6e6e6;
}
#pref.layout ul.select li.selected {
  background-color: #337ab7;
  color: #f3f3f3;
}
@-moz-keyframes slide-up {
  0% {
    bottom: -100%;
  }
  95% {
    bottom: 0;
  }
  100% {
    bottom: -5rem;
    padding-bottom: 5rem;
  }
}
@-webkit-keyframes slide-up {
  0% {
    bottom: -100%;
  }
  95% {
    bottom: 0;
  }
  100% {
    bottom: -5rem;
    padding-bottom: 5rem;
  }
}
@-o-keyframes slide-up {
  0% {
    bottom: -100%;
  }
  95% {
    bottom: 0;
  }
  100% {
    bottom: -5rem;
    padding-bottom: 5rem;
  }
}
@keyframes slide-up {
  0% {
    bottom: -100%;
  }
  95% {
    bottom: 0;
  }
  100% {
    bottom: -5rem;
    padding-bottom: 5rem;
  }
}
@-moz-keyframes slide-down {
  from {
    bottom: 0;
  }
  to {
    bottom: -100vh;
  }
}
@-webkit-keyframes slide-down {
  from {
    bottom: 0;
  }
  to {
    bottom: -100vh;
  }
}
@-o-keyframes slide-down {
  from {
    bottom: 0;
  }
  to {
    bottom: -100vh;
  }
}
@keyframes slide-down {
  from {
    bottom: 0;
  }
  to {
    bottom: -100vh;
  }
}
h-ruby h-ru[annotation] {
  display: inline-flex;
  display: -webkit-inline-flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  vertical-align: 1em;
  line-height: 2.5;
  text-align: center;
}
h-ruby h-ru[annotation]:before {
  content: none;
  display: none;
}
h-ruby h-ru[annotation] rb,
h-ruby h-ru[annotation] rt {
  -webkit-flex: 1 100%;
  flex: 1 100%;
  -webkit-order: 2;
  order: 2;
  -webkit-flex-direction: row;
  flex-direction: row;
  line-height: 1;
}
h-ruby h-ru[annotation] rt {
  margin-top: -2em;
  max-width: 100%;
  min-width: 1em;
  -webkit-order: 1;
  order: 1;
  font: inherit;
  font-size: 0.45em;
  text-align: center;
}
body #pickr h-zhuyin {
  position: relative;
  display: inline-block;
  height: 2.7em;
  width: 0.8em;
  line-height: 0.9;
}
body #pickr h-zhuyin h-diao {
  position: absolute;
  right: -0.9em;
  top: 0;
  display: inline-block;
  width: 1em;
}
body #pickr h-zhuyin[length='1'] h-zhuyin {
  margin-top: 0.125em;
}
body #pickr h-zhuyin[length='1'] h-diao {
  margin-top: -0.35em;
}
body #pickr h-zhuyin[length='2'] h-zhuyin {
  margin-top: -0.175em;
}
body #pickr h-zhuyin[length='2'] h-diao {
  margin-top: 0.5em;
}
body #pickr h-zhuyin[length='3'] h-zhuyin {
  margin-top: -0.45em;
}
body #pickr h-zhuyin[length='3'] h-diao {
  margin-top: 1.3em;
}
body #pickr h-zhuyin[diao='˙'] h-diao {
  right: -0.42em;
}
body #pickr h-zhuyin[diao='˙'][length='1'] h-diao {
  margin-top: -0.5em;
}
body #pickr h-zhuyin[diao='˙'][length='2'] h-diao {
  margin-top: -0.3em;
}
body #pickr h-zhuyin[diao='˙'][length='3'] h-diao {
  margin-top: -0.25em;
}
