
$han-hanging-hant = true
$han-biaodian-hant = Pro
$han-font-path = '//cdnjs.cloudflare.com/ajax/libs/Han/3.2.3/font/'

$k-bg       = rgb( 95% 93% 90% )
$k-bd-input = lighten( rgb( 75% 70% 55% ), 30% )
$k-bg-input = #f0f0f0

$k-primary = #337ab7
$k-success = #5cb85c
$k-info    = #5bc0de
$k-warning = #f0ad4e
$k-danger  = #d9534f

$zhuyin = 'Zhuyin Kaiti'
$serif  = 'Biaodian Pro Serif', 'Numeral LF Serif', Georgia, $zhuyin, 'Kozuka Mincho Pr6N', 'Han Songti', serif
$sans   = 'Biaodian Pro Sans', 'Helvetica Neue', Arial, $zhuyin, 'Han Heiti', sans-serif

npm( $mod ) {  '../../node_modules/' + $mod  }

@import npm( 'han-css' )
@import npm( 'font-handsome' )

@import layout
@import nav
@import io
@import pref

