
main.layout
  #in
    // posi
    position relative
    margin 1rem auto
    // box
    display block
    width 96%
  textarea
    // box
    display none
    height 10em 
    max-height 45vh
    width 100%
    padding .25em .5em
    resize vertical
    // typo
    font-size 20px
    // style
    background-color $k-bg-input
    border 1px solid $k-bd-input
    border-radius .5rem
    border-bottom-right-radius 0
    color #666
    outline 0

    &:hover,
    &:focus
      border-color $k-bd-input
      color #333
    &[readonly]
      color #aaa
  #code,
  #url
    white-space pre
    word-wrap normal

#in.input #input,
#in.code #code,
#in.url #url
    display block
#in.input .input button
#in.code .code button
#in.url .url button
  background-color $k-bg-input
  border-top-color $k-bg-input

#utility
  // posi
  position relative
  margin-top -1px
  // box
  padding 0
  // typo
  list-style none
  text-align right

  li
    // posi
    margin-left -1px
    // box
    display inline-block
  li:last-child
    margin-right 1px
  button
    // box
    padding .4em .6em .3em
    height auto
    width @height
    // typo
    font-size .9em
    // style
    background none darken( $k-bg, 2% )
    border 1px solid $k-bd-input
    border-bottom-left-radius  .2em
    border-bottom-right-radius .2em
    color darken( $k-bd-input, 40% )
  button:before // icons
    // posi
    margin-right .2em
    // style
    color #555
  .input button
    fh( align-justify )
  .code button
    fh( code )
  .url button
    fh( share-alt )

  .lock button
    // posi
    position absolute
    left .05em
    top 0
    // box
    padding-top .7em
    height 2em
    width @height
    // typo
    fh( unlock-alt )
    fh-hide-text()
    // style
    background none
    border 0
  .locked & .lock button
    fh( lock )

article
  // posi
  margin 3rem auto
  // box
  width 96%
  padding 0
  // typo
  font-family $serif
  font-size 1.5em
  line-height 2.5

  :link,
  :visited
    color lighten( $k-primary, 5% )
  a:hover
    color $k-danger
  a:active
    color darken( $k-danger, 20% )
  rt
    font-family $sans
  
#out
  // posi
  position: relative

  a-z
    // posi
    position relative
    cursor pointer
    // box
    display inline-block
  a-z:before
    // posi
    position absolute
    left 50%
    margin 2em 0 0 -.45em
    // box
    content ''
    display inline-block
    overflow hidden
    height .25em
    width @height
    // style
    background-color $k-primary
    border-radius 50%
    padding .15em

    [data-system='zhuyin'] &
      margin-left -.45em
    [data-system='both'] &
      margin-top 2.5em
    [data-system='both'] &,
    [data-system='pinyin'] &,
    [data-system='wg'] &
      margin-left -.125em
      
  a-z:not(:hover):before
    opacity .7
  a-z.picked:before
    background-color $k-info
  a-z.picking
    rb
      color #706363
    h-zhuyin,
    rt
      color #c84332
  a-z.picking:before
    // posi
    z-index 10
    margin 1.9em 0 0 -.55em
    // style
    background-color $k-danger
    border .1em solid #fff
    opacity 1

    [data-system='zhuyin'] &
      margin-left -.55em
    [data-system='both'] &
      margin-top 2.4em
    [data-system='both'] &,
    [data-system='pinyin'] &,
    [data-system='wg'] &
      margin-left -.23em
    
button.speaker
  // posi
  margin-left .3em
  // box
  height 1.2em
  width @height
  padding-left .15em
  // typo
  font-family $sans
  font-size .8em
  line-height 1.2*.72
  vertical-align text-top
  // style
  background-color lighten( $k-success, 10% )
  border 0
  border-radius 50%
  // icon
  fh-hide-text()
  +fh( play )
    font-size .7em
    color rgba( #fff, .85 )

#pickr
  @extend $han-zhuyin
  // posi
  position absolute
  margin 2.7em 0 0 .25em
  // box
  min-width 4em
  padding .5em 1em
  // typo
  line-height 1.8
  list-style none
  counter-reset yin
  // style
  background-color #fff
  border-bottom 2px solid rgba( $k-success, .7 )
  border-radius .5em

  [data-system='both'] &
    margin 3.5em 0 0 .8em
  [data-system='pinyin'] &,
  [data-system='wg'] &
    margin-top 2.8em

  &
    display none
  .picking &
    display block

  li
    // posi
    margin-right .5em
    // box
    display inline-block
    // typo
    font-family $zhuyin, $sans
    font-size 2em
    font-weight 200
    text-align left
    // style
    cursor pointer
  li:before
    // posi
    margin 0 .3em
    // box
    vertical-align middle
    // typo
    counter-increment yin
    content counter( yin )
    font-size .5em
    // style
    color #999
  li.current,
  li:hover
    text-shadow 0 0 .2em $k-info
  li:last-child
    margin-right .125em
  [data-display='pinyin'] & li
    font-size 1.2em

    &:before
      vertical-align baseline
      font-size .75em

