
:root
  // box
  box-sizing border-box
  // typo
  font-size 10px

*,
*:before,
*:after
  box-sizing inherit

body
  // typo
  font-size 16px
  // style
  background-color $k-bg

#body
  // box
  width 100%
  padding-top 6rem

#body > .layout
  // - nav, main, #option, footer
  // box
  width 100%
  padding 0 calc( (100% - 96rem)/2 )

button
  // style
  outline 0

