
:root
  // box
  box-sizing border-box
  // typo
  font-size 10px

*,
*:before,
*:after
  box-sizing inherit

body
  // typo
  font-size 16px
  // style
  background-color $k-bg

#body,
#about
  // box
  width 100%
  padding-top 6rem

#body > .layout,
#about > .layout
  // - nav, main, #option, footer
  // box
  width 100%
  padding 0 calc( (100% - 96rem)/2 )

button
  // style
  outline 0

#about
  padding-top 0
#about article
  // box
  max-width 32em
  padding 3em 1em 7em
  // typo
  font-size 1.2em

article
  h1,
  h2,
  h3,
  h4,
  h5
    font-weight 400
    line-height 1.5
  h2
    border-bottom 1px solid darken( $k-bg, 15% )
  kbd 
    // box
    padding .2em .4em
    // style
    background-color #333
    border 1px solid #666
    border-radius .125em
    box-shadow 0 2px 0 #ccc
    color #eee

