
@keyframes slide-up
  0% 
    bottom -100%
  95%
    bottom 0
  100%
    bottom -5rem
    padding-bottom -@bottom
@keyframes slide-down
  from 
    bottom 0
  to
    bottom -100vh

#option.layout
  // posi
  position fixed
  // box
  min-height 19em
  height 50vh
  // style
  background-color darken( $k-bg, 7% )
  box-shadow inset 0 .5rem 2rem darken( @background-color, 7% ), inset 0 1px 0 rgba( #eee, .3 )
  color #333

  [data-option=false][data-init=true] &
    display none
  [data-option=false][data-init=false] &
    -moz-animation    slide-down .5s
    -ms-animation     slide-down .5s
    -webkit-animation slide-down .5s
    animation         slide-down .5s
    -moz-animation-fill-mode:    forwards
    -ms-animation-fill-mode:     forwards
    -webkit-animation-fill-mode: forwards
    animation-fill-mode:         forwards
  [data-option=true] &
    -moz-animation    slide-up .5s
    -ms-animation     slide-up .5s
    -webkit-animation slide-up .5s
    animation         slide-up .5s
    -moz-animation-fill-mode:    forwards
    -ms-animation-fill-mode:     forwards
    -webkit-animation-fill-mode: forwards
    animation-fill-mode:         forwards

  button
    // box
    // style
    background none
    border 0
    color #111
  button.close
    position relative
    z-index 100
  button.close:first-of-type
    // posi
    position absolute
    top .4em
    right @top + .2em
    // box
    height 1.5em
    width 1.5em
    overflow hidden
    // style
    color transparent
    +fh( close, #eee )
      font-size 1.2em
      text-shadow 0 1px 0 #a85
    &:hover:before
      text-shadow 0 1px 3px #855
  button.close:last-of-type
    // posi
    margin -.8em 1em 0
    // box
    height 1.65em
    width 2.5em
    overflow hidden
    padding .125em .5em
    // style
    background-color $k-primary
    border 1px solid darken( $k-primary, 5% )
    border-radius .25em
    color transparent
    &:before
      content '好'
      color #eee
    &:hover
      background darken( @background-color, 7% )
    &:hover:before
      color #fff
  ul
    // box
    padding .5em 1em
    // typo
    list-style none
  li
    // posi
    margin .25em 0 .5em
    // box
    padding-bottom .5em
    // style
    border-bottom 1px solid darken( $k-bg, 12% )
  li:last-child
    border 0
  label > span
    display inline-block
    min-width 11em
    padding-right 1em
  li button
    // posi
    margin-top .25em
    // box
    padding .3em .5em
    // style
    background-color rgba( #fff, .5 )
    border 1px solid rgba( #985, .7 )
    border-radius .25em

    +fha( caret-down )
      // box
      padding-left .3em
      vertical-align -.05em
      // typo
      font-size 1.1em
      // style
      color #63541f
  .open button,
  li button:hover
    background-color rgba( #eee, .3 )
    border-color #985 
    fha-color( #111 )
  .open ul.select
    display block
  ul.select
    // posi
    position absolute
    left 12em
    margin-top .25em
    // box
    display none
    min-width 5em
    overflow hidden
    padding 0
    // style
    background-color #f3f3f3
    border 1px solid darken( $k-bg, 20% )
    border-radius .25em
  ul.select li
    // posi
    margin 0
    // box
    padding .35em 1em .35em .5em
    // style
    border 0
    cursor pointer

    &:hover
      background-color #e6e6e6
    &.selected
      background-color $k-primary
      color #f3f3f3

