
-scale( $size )
  -moz-transform:    scale( $size ) !important
  -ms-transform:     scale( $size ) !important
  -webkit-transform: scale( $size ) !important
  transform:         scale( $size ) !important
-clean-scale()
  -moz-transform:    none !important
  -ms-transform:     none !important
  -webkit-transform: none !important
  transform:         none !important

h-zhuyin
  //-scale( .3 )
h-yin
  //-clean-scale()

//  Romanization
// --------------
h-ruby h-ru[annotation]
  // posi
  position relative
  // box
  display -webkit-inline-flex
  display inline-flex
  -webkit-flex-flow row-reverse wrap
  flex-flow row-reverse wrap
  -webkit-justify-content center
  justify-content center
  min-height 2em
  min-width 1em
  vertical-align 1.2em

  rb,
  rt
    // typo
    text-align center
  rb
    // posi
    position absolute
    top .55em
    left 0
    right 0
  rt
    // typo
    font-size .55em

    &:before,
    &:after
      content '\200A'

body #pickr
  h-zhuyin
    // posi
    position relative
    // box
    display inline-block
    height 2.7em
    width .8em
    // typo
    line-height .9

    h-diao
      // posi
      position absolute
      right -.9em
      top 0
      // box
      display inline-block
      width 1em

    &[length='1']
      h-zhuyin
        margin-top: .125em
       h-diao
        margin-top -.35em
    &[length='2']
      h-zhuyin
        margin-top: -.175em
      h-diao
        margin-top .5em
    &[length='3']
      h-zhuyin
        margin-top: -.45em
      h-diao
        margin-top 1.3em
    &[diao='˙']
      h-diao
        right -.42em
      &[length='1'] h-diao
        margin-top: -.5em
      &[length='2'] h-diao
        margin-top: -.3em
      &[length='3'] h-diao
        margin-top: -.25em

