
-scale( $size )
  -moz-transform:    scale( $size )
  -ms-transform:     scale( $size )
  -webkit-transform: scale( $size )
  transform:         scale( $size )
  -moz-transform-origin:    left top
  -ms-transform-origin:     left top
  -webkit-transform-origin: left top
  transform-origin:         left top
-clean-scale()
  -moz-transform:    none !important
  -ms-transform:     none !important
  -webkit-transform: none !important
  transform:         none !important

//  Romanization
// --------------
h-ru[annotation]
  // posi
  position relative
  margin-top .05em
  // box
  display -webkit-inline-flex
  display inline-flex
  -webkit-flex-flow row wrap
  flex-flow row wrap
  -webkit-justify-content center
  justify-content center
  min-width 1em
  vertical-align 1em

  // Adjustments for emphasis marks (着重號)
  em &
    margin-bottom 1.8em

  > rb,
  > h-ru,
  > rt
    // typo
    line-height 1
    text-align center
  > rb,
  > h-ru
    // posi
    position absolute
    left 0
    right 0
  > rb
    top .6em
  > rt
    // typo
    font-size .5em

    &:before,
    &:after
      content '\2006'
  > h-ru[zhuyin]
    top auto
  > h-ru[zhuyin] + rt
    margin-top 2.1em

//  Zhuyin
// --------
$han-zhuyin
  h-zhuyin
    // posi
    position relative
    // box
    display inline-block
    height (.4*3)em
    width .4em
    vertical-align -(.4/2)em
    //- reset all possible text styles
    font-style none !important
    font-weight normal !important
    text-decoration none !important
    -webkit-text-emphasis none !important
    text-emphasis none !important
    // typo
    font-family $zhuyin, 'Han Kaiti CNS', cursive, serif
  h-zhuyin > *
    // box
    -scale( .4 )
    display inline-block
    width 1em
  h-yin
    // box
    vertical-align middle
    line-height 1
  h-diao
    // posi
    position absolute
    bottom 0
    right -.9em
    // box
    height @width
    // typo
    line-height 1
  h-diao:empty
    display none

  &[length='1'],
  [length='1']
    h-diao
      bottom 0
  &[length='2'],
  [length='2']
    h-yin
      vertical-align -.8em
    h-diao
      bottom -.2em
  &[length='3'],
  [length='3']
    h-yin
      line-height .9
    h-diao
      bottom -.25em
  &[diao='˙'],
  [diao='˙']
    h-diao
      top 0
      right auto
      bottom auto
      left .08em
    &[length='1'] h-diao,
    [length='1'] h-diao
      top .25em
    &[length='2'] h-diao,
    [length='2'] h-diao
      top .1em
    &[length='3'] h-diao,
    [length='3'] h-diao
      top -.15em

h-ru[zhuyin]
  @extend $han-zhuyin
  // posi
  margin-right .2em
  // box
  display inline-block
  // typo
  line-height 1.8

//  Right-angle
// -------------
[rightangle]
  h-ru[annotation]
    // box
    min-width 1.8em
    vertical-align -.6em
  em & h-ru[annotation],
  em h-ru[annotation]
    margin-bottom 0

h-ru h-ru[zhuyin]
  // posi
  margin-top -.4em
  margin-left .2em
  // box
  width 1.8em
  // typo
  line-height 1.8

  em &
    // posi
    margin-top -.7em
    margin-bottom 0
    // typo
    -webkit-text-emphasis-position over
    text-emphasis-position over

