<!DOCTYPE html>
<html lang="zh-Hant" class="han-init">
<head>
  <meta charset="UTF-8">
  <title>a.z.說明 — 用萌典半自動為漢字標音</title>

  <script>void function(l){if('az.hanzi.co'===document.domain&&l.protocol!=='https:')location=l.href.replace(/^http:/i, 'https:')}(location);</script>

  <link rel="stylesheet" href="./style.css?{now}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body id="about">
  <nav class="layout">
    <a class="index" href="/">首頁</a><a class="about" href="./about.html">說明</a><a class="gh-repo" href="//github.com/ethantw/az">GitHub</a>
  </nav>
  <article>
